header{
    background-color: grey;
    padding-top: 30px;
    padding-bottom: 30px;
}
 header h1{
     margin-left: 10%;
 }
  #navbar {
      display: flex;
      justify-content: space-around;
  }

  footer{
      background-color: grey;
      padding-top: 30px;
      padding-bottom: 30px;
  }